In [62]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
import statsmodels.formula.api as smf

In [48]:
df =pd.read_csv('/content/advertising (1).csv')

In [49]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [50]:
df.describe(include='all')

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [ ]:
ProfileReport(df)

In [53]:
x=df[['TV','Radio','Newspaper']]

In [54]:
y=df[['Sales']]

In [55]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [56]:
linear.fit(x,y)

LinearRegression()

In [57]:
# now we have to  find the both  y=mx+c in the equation  from the   line 
linear.intercept_  # this is c

array([4.62512408])

In [58]:
linear.coef_ # this is m

array([[0.05444578, 0.10700123, 0.00033566]])

In [59]:
l=[45,34,56,44,22,11,9]

In [60]:
# now we  are taking  out the score of  the person
linear.score(x,y)

0.9025912899684558

In [64]:
from statsmodels.formula.api as smf

SyntaxError: ignored

In [68]:
linear=smf.ols(formula='Sales~TV',data=df).fit()
linear.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.812
Model:                            OLS   Adj. R-squared:                  0.811
Method:                 Least Squares   F-statistic:                     856.2
Date:                Mon, 16 Jan 2023   Prob (F-statistic):           7.93e-74
Time:                        18:43:19   Log-Likelihood:                -448.99
No. Observations:                 200   AIC:                             902.0
Df Residuals:                     198   BIC:                             908.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      6.9748      0.323     21.624      0.000       6.339       7.611
TV             0.0555      0.002     29.260      0.000       0.052       0.059
==============================================================================
Omnibus:                        0.013   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.993   Jarque-Bera (JB):                0.043
Skew:                          -0.018   Prob(JB):                        0.979
Kurtosis:                       2.938   Cond. No.                         338.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [70]:
linear=smf.ols(formula='Sales~TV+Radio+Newspaper',data=df).fit()
linear.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.903
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     605.4
Date:                Mon, 16 Jan 2023   Prob (F-statistic):           8.13e-99
Time:                        18:46:30   Log-Likelihood:                -383.34
No. Observations:                 200   AIC:                             774.7
Df Residuals:                     196   BIC:                             787.9
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.6251      0.308     15.041      0.000       4.019       5.232
TV             0.0544      0.001     39.592      0.000       0.052       0.057
Radio          0.1070      0.008     12.604      0.000       0.090       0.124
Newspaper      0.0003      0.006      0.058      0.954      -0.011       0.012
==============================================================================
Omnibus:                       16.081   Durbin-Watson:                   2.251
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.655
Skew:                          -0.431   Prob(JB):                     9.88e-07
Kurtosis:                       4.605   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#  what is P(t) in the   newpaper ols method  curve signature in the  outcome  column  contribution is   given

# P(T) of newpaper is  0.95  it means that the 95 of the experiment are failing and adding non importance in the   field

In [ ]:
# overfiiting  happens and then we can  use  the lasso regrression